:root {
	--dark: #374151;
	--darker: #1f2937;
	--darkest: #111827;
	--gray: #6b7280;
	--gray2: #ebeced;
	--light: #ffffff;
	--pink: #ec4899;
	--purple: #8b5cf6;
	--pink1: #f294e3;
	--purple1: #4b3a8c;
	--teal: #1ec6eb;
	--yellow1: #f2d230;
	--yellow2: #fff289;
	--teal2: #0d7d96;
	--green: #6d9f3a;
}

/* Fonts
font-family: 'Abril Fatface', cursive;
font-family: 'Handlee', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

/* * {
	box-sizing: border-box;
	marking: ;
} */

/* .budget-header-container {
	display: flex;
	justify-content: space-evenly;
} */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #000;
	background-color: var(--light);
}

header {
	padding: 2rem 1rem;
	/* max-width: 800px; */
	width: 100%;
	margin: 0 auto;
	/* background-color: var(--purple1); */
	background-image: linear-gradient(to left, var(--teal), var(--pink1));
	/* -webkit-background-clip: border-box; */
	/* -webkit-text-fill-color: transparent; */
}

nav {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-left: 3rem;
}

#unicorn-logo {
	border-radius: 50%;
	max-width: 10%;
}
header div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header h1 {
	font-size: 3rem;
	font-weight: 900;
	/* margin-bottom: 1rem; */
	color: var(--light);
	font-family: "Abril Fatface", cursive;
	padding: 0.5rem;
	/* max-width: 50%; */
}

header h3 {
	font-family: "Handlee", cursive;
	color: var(--light);
	font-size: 1.25rem;
}

.month_toBeB_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

#toBeBudgeted_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input_toBeBudgeted {
	padding: 25px;
	border-radius: 15px;
	font-size: 2rem;
	text-align: center;
	width: 12rem;
	background-color: var(--pink1);
	color: var(--light);
	visibility: hidden;
}

.input_toBeBudgeted::placeholder {
	color: var(--light);
	visibility: hidden;
}

.text_toBeBudgeted {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 1.25rem;
	margin-top: 0.5rem;
	visibility: hidden;
}

#month {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 2rem;
	color: var(--dark);
}

#music-btn {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.music-btn {
	font-size: 2rem;
	background-image: linear-gradient(to right, var(--teal), var(--purple));
	-webkit-background-clip: border-box;
	-webkit-text-fill-color: var(--darker);
	padding: 1rem;
	transition: 0.4s;
	border-radius: 25px;
}

.music-btn:hover {
	opacity: 0.8;
	cursor: pointer;
}

.music-btn:active {
	opacity: 0.6;
}
.main-sub {
	background-color: var(--teal);
	/* margin-bottom: 3rem; */
	padding-bottom: 3rem;
}

#budget-title {
	font-family: "Abril Fatface", cursive;
	font-size: 2.5rem;
	color: var(--light);
}

#new-category {
	display: flex;
	margin: 1rem;
	margin-bottom: 3rem;
}

input {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#categoryInput {
	flex: 1 1 40%;
	background-color: var(--light);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--darker);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--gray);
}

#amountInput {
	/* flex-grow | flex-shrink | flex-basis */
	flex: 1 1 0%;
	background-color: var(--light);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--darker);
	font-size: 1.25rem;
}

#amountInput::placeholder {
	color: var(--gray);
}

#addLine {
	font-size: 2rem;
	background-image: linear-gradient(to right, var(--teal2), var(--green));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* color: var(--green); */
	cursor: pointer;
	transition: 0.4s;
}

#addLine:hover {
	opacity: 0.8;
}

#addLine:active {
	opacity: 0.6;
}

main {
	flex: 1 1 10%;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}

.budget-title {
	display: flex;
	justify-content: center;
	padding: 2rem;
}

.budget-list {
	padding: 0.5rem;
}

.budget-header-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
	margin: 1rem;
	border-radius: 5px;
	background-image: linear-gradient(to right, var(--yellow2), var(--yellow1));
	-webkit-background-clip: border-box;
	/* -webkit-text-fill-color: transparent; */
}

.budget-header-container p {
	font-size: 1.25rem;
	font-weight: 300;
	color: var(--darker);
	padding-left: 3rem;
	padding-right: 2rem;
}
.budget-header-container div {
	display: flex;
	justify-content: flex-end;
}

#load-category .budget-line {
	display: flex;
	justify-content: space-between;
	background-color: var(--light);
	padding: 1rem;
	border-radius: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}

.budget-line {
	flex: 1 1 0%;
}

.inputLine {
	display: flex;
	/* justify-content: space-evenly; */
	/* flex: 1 1 0%; */
}
.currency-code-nc {
	font-size: 1.75rem;
	color: var(--light);
	padding-right: 0.5rem;
}

.currency-wrap {
	display: flex;
	padding-left: 0.5rem;
	justify-content: left;
	align-items: center;
}

.currency-code {
	position: absolute;
	/* left: 8px;
	top: 10px; */
	color: var(--darkest);
	font-size: 1.25rem;
	padding-left: 0.5rem;
}

.text-input {
	padding: 10px 20px;
	border: solid 1px #ccc;
	border-radius: 5px;
	width: 5rem;
}

.budget-line input {
	border-radius: 20px;
}

.budget-line .inputLine .text-input {
	color: var(--darkest);
	font-size: 1.25rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.budget-line .inputLine .cat-input {
	text-align: left;
	width: 20rem;
	color: var(--darkest);
	font-size: 1.25rem;
	/* width: 100%; */
	display: block;
	transition: 0.4s;

	padding: 10px 20px;
	border: solid 1px #ccc;
	border-radius: 5px;
}

.budg-input {
	direction: right;
	width: 10rem;
}

.spt-input {
	direction: right;
	width: 7rem;
}

.av-input {
	direction: right;
	width: 3rem;
	background-color: var(--gray2);
}

.budget-line .inputLine .text-input:not(:read-only) {
	color: var(--purple);
}

.budget-line .cat-input:not(:read-only) {
	color: var(--purple);
}

/* Not sure this one does anything */
.budget-line .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.budget-line button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.5rem;
	font-weight: 700;
	transition: 0.4s;
}

.budget-line button:hover {
	opacity: 0.8;
}

.budget-line button:active {
	opacity: 0.6;
}

.budget-line .edit-btn {
	background-image: linear-gradient(to right, var(--teal2), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.budget-line .delete-btn {
	background-image: linear-gradient(to right, var(--pink1), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.available-color-yes {
	background-color: var(--green);
}

.available-color-no {
	background-color: var(--gray2);
}

footer {
	background-color: var(--purple1);
	background-image: linear-gradient(to right, var(--pink1), var(--purple));
	-webkit-background-clip: border-box;
	/* -webkit-text-fill-color: transparent; */
	display: flex;
	justify-content: center;
}

footer h4 {
	padding: 1rem;
	color: var(--light);
}
